---
layout: default
title: Home
---

<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>

  <!-- קישור לקובץ העיצוב -->
  <link rel="stylesheet" href="/assets/css/lanyon.css">
</head>
<body>

<div class="header">
  <h1>ברוכים הבאים ל"הגיגים של ינון"</h1>
  <p>כאן תמצאו את המחשבות וההגיגים של ינון על מגוון נושאים.</p>
</div>

<!-- תפריט ניווט -->
<nav>
  <ul>
    <li><a href="{{ '/' | relative_url }}">עמוד הבית</a></li>
    <li><a href="{{ '/ynon/about/' | relative_url }}">אודות</a></li>
  </ul>
</nav>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date: "%d-%m-%Y" }}</span>
    <p>{{ post.excerpt }}</p>
    <a href="{{ post.url | absolute_url }}">קרא עוד</a>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

</body>
</html>
